# Dependencies
node_modules/

# Production
build/
dist/

# Misc
.DS_Store
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Strapi
.tmp/
public/uploads/
database/
!database/.keep
.strapi/
.strapi-updater.json
